@import '../../Assets/Css/myVariables.scss';

.tomato--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-width: 1280px;
  min-height: 800px;
}

.tomato-main--wrap {
  width: 1280px;
  height: 800px;
  display: flex;
  position: relative;
}

.tomato-main__left {
  width: calc(1280px - 450px);
  height: 100%;
  background-color: $tomato-color-pink;
  padding-top: 48px;
  padding-left: 85px;
  padding-right: 300px;

  &__input--wrap {
    height: 56px;
    width: 100%;
    position: relative;

    &::after {
      content: '＋';
      position: absolute;
      top: 17px;
      right: 16px;
      font-size: 20px;
      color: $tomato-color-darkPink;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-left: 16px;
    border: none;
    color: $tomato-color-darkPink;

    &::-webkit-input-placeholder {
      color: $tomato-color-darkPink;
    }

    &:-moz-placeholder {
      color: $tomato-color-darkPink;
    }

    &:-ms-input-placeholder {
      /* IE10+ */
      color: $tomato-color-darkPink;
    }
  }

}

.tomato-main__middle {
  width: 540px;
  height: 540px;
  position: absolute;
  top: 130px;
  right: 180px;
  border-radius: 50%;
  border: 5px solid $tomato-color-darkPink;
  // padding: 15px;

  #circleProcess {
    position: relative;
    top: 0;
    left: 0;
    width: 530px;
    height: 530px;
    stroke-dasharray: 305.5%;
    stroke-dashoffset: 305.5%;
    // stroke: #6FEC6F;
    stroke: $tomato-color-darkPink;
    fill: none;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  &__circle {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    border: 5px solid $tomato-color-darkPink;
    background-color: $tomato-color-darkPink;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: #fff;
    }

    &--playBtn {
      height: 96px;
      width: 96px;
      border-radius: 50%;
      color: $tomato-color-darkPink;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      // position: relative;

      &.active {
        color: #fff;
        background-color: $tomato-color-darkPink;
      }

      & .material-icons {
        font-size: 60px;
        // 文字不能被選中（因為是字體圖標）
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    &--square {
      width: 24px;
      height: 24px;
      padding: 3px;
      position: absolute;
      right: 160px;
      bottom: 190px;
      cursor: pointer;

      .white {
        display: block;
        height: 100%;
        width: 100%;
        background-color: #fff;

        &.active {
          background-color: $tomato-color-darkPink;
        }
      }

    }
  }
}

.tomato-main__right {
  width: 450px;
  height: 100%;
  background-color: $tomato-color-blue;
}