@import '../../Assets/Css/myVariables.scss';

.tomato--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-width: 1280px;
  min-height: 800px;
}

.tomato-main--wrap {
  width: 1280px;
  height: 800px;
  display: flex;
  position: relative;
}

.tomato-main__left {
  width: calc(1280px - 450px);
  height: 100%;
  background-color: $tomato-color-pink;
  padding-top: 48px;
  padding-left: 85px;
  padding-right: 300px;

  &__input--wrap {
    height: 56px;
    width: 100%;
    position: relative;
    display: flex;
    
    & .addMissionBtn {
      padding: 0 16px;
      outline: none;
      border: none;
      background-color: #fff;
      font-size: 24px;
      color: $tomato-color-darkPink;

      &:hover {
        color: #fff;
        background-color: $tomato-color-darkPink;
      }
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-left: 16px;
    border: none;
    color: $tomato-color-darkPink;
    font-family: 'Roboto', Bold Italic;
    outline: none;

    &::-webkit-input-placeholder {
      color: $tomato-color-darkPink;
    }

    &:-moz-placeholder {
      color: $tomato-color-darkPink;
    }

    &:-ms-input-placeholder {
      /* IE10+ */
      color: $tomato-color-darkPink;
    }
  }


  &__list--wrap {
    margin-top: 145px;
    width: 445px;
    height: calc(800px - 96px - 145px - 76px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__list--item {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid $totato-color-blue_20;

    // list 选中效果
    &.active {
      padding-top: 20px;
      flex: 1;

      & .tomato-main__left__list--top {
        height: 48px;
        align-items: flex-start;
      }

      & .tomato-main__left__list--bottom {
        display: block;
      }

      & .circle {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid $tomato-color-blue;
      }

      & .content {
        height: 100%;
        font-size: 24px;

        & span {
          margin-top: 8px;
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid $tomato-color-darkPink;
        }
      }

      & .icon {
        display: none;
      }
    }
  }

  &__list--top {
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    color: $tomato-color-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;

    & .circle {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid $tomato-color-blue;
    }

    & .content {
      line-height: 48px;
      flex: 1;
      font-size: 16px;
      margin-left: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .icon {
      width: 24px;
      height: 24px;
      // 不能被選中
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &__list--bottom {
    display: none;

    & .countdown {
      line-height: 206px;
      font-size: 170px;
      color: $tomato-color-darkPink;
      text-align: center;
    }
  }
}

.tomato-main__middle {
  width: 540px;
  height: 540px;
  position: absolute;
  top: 130px;
  right: 180px;
  border-radius: 50%;
  border: 5px solid $tomato-color-darkPink;
  // padding: 15px;

  #circleProcess {
    position: relative;
    top: 0;
    left: 0;
    width: 530px;
    height: 530px;
    stroke-dasharray: 305.5%;
    stroke-dashoffset: 305.5%;
    // stroke: #6FEC6F;
    stroke: $tomato-color-darkPink;
    fill: none;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  &__circle {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    border: 5px solid $tomato-color-darkPink;
    background-color: $tomato-color-darkPink;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    // 中间按钮选中效果
    &.active {
      background-color: #fff;
    }

    &--playBtn {
      height: 96px;
      width: 96px;
      border-radius: 50%;
      color: $tomato-color-darkPink;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      // position: relative;

      &.active {
        color: #fff;
        background-color: $tomato-color-darkPink;
      }

      & .material-icons {
        font-size: 60px;
        // 文字不能被選中（因為是字體圖標）
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    &--square {
      width: 24px;
      height: 24px;
      padding: 3px;
      position: absolute;
      right: 160px;
      bottom: 190px;
      cursor: pointer;

      .white {
        display: block;
        height: 100%;
        width: 100%;
        background-color: #fff;

        &.active {
          background-color: $tomato-color-darkPink;
        }
      }

    }
  }
}

.tomato-main__right {
  width: 450px;
  height: 100%;
  background-color: $tomato-color-blue;
}