$color-p: #69F0AE; // 主颜色
$color-r: #ae0000; // 副颜色 红

// tomato clock variables
$tomato-color-blue: #003164;
$tomato-color-pink: #FFEDF7;
$tomato-color-darkPink: #FF4384;
$totato-color-blue_20: rgba(0, 49, 100, 0.2);